<nav class="navbar nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <svg class="imgNav"></svg>
        <button type="button" class="btn btn-color-lige"><small class="label-btn-lig">Cerrar sesión </small><i
                class="pi pi-sign-in"> </i></button>
    </div>
</nav>
<div class="panel">
    <h2>Mis desembolso</h2>
    <button type="button" class="btn btn-color roundedButton"><small class="label-btn"><i class="pi pi-arrow-down"> </i>
            Descargado</small></button>
</div>
<div class="panel-color">
    <div class="conte-input row">
        <div class="col-2">
            <span class="p-float-label">
                <input pInputText id="tipdoc" class="input-desembolso roundedInput" />
                <label class="label-input" htmlFor="tipdoc">Tipo doc.</label>
            </span>
        </div>
        <div class="col-2">
            <span class="p-float-label">
                <input pInputText id="ndoc" class="input-desembolso-2 roundedInput" />
                <label class="label-input" htmlFor="ndoc">Número de documento</label>
            </span>
        </div>
        <div class="col-2">
            <span class="p-float-label">
                <input pInputText id="ndesembolso" class="input-desembolso-2 roundedInput" />
                <label class="label-input" htmlFor="ndesembolso">Número de desembolso</label>
            </span>
        </div>
        <div class="col-2">
            <span class="p-float-label">
                <input pInputText id="desde" class="input-desembolso roundedInput" />
                <label class="label-input" htmlFor="Desde">Desde</label>
            </span>
        </div>
        <div class="col-2">
            <span class="p-float-label">
                <input pInputText id="hasta" class="input-desembolso roundedInput" />
                <label class="label-input" htmlFor="hasta">Hasta</label>
            </span>
        </div>
    </div>


</div>
<table>
    <thead>
        <tr>
            <th>Fecha y hora</th>
            <th>Número de desembolso</th>
            <th>Tipo de documento</th>
            <th>Número de documento</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>00-00-0000 00:00:00</td>
            <td>00000000</td>
            <td>Cédula</td>
            <td>0000000000</td>
            <td>$000.000.000</td>
        </tr>
    </tbody>
</table>