<div class="conte">
    <div>
        <svg class="img"></svg>
        <svg class="img-top-right"></svg>
        <svg class="img-bottom-left"></svg>
        <svg class="img-center-right"></svg>
        <svg class="img-center-left"></svg>
        <svg class="img-circle-left"></svg>
        <svg class="img-circle-right"></svg>
        <h5>Sufipay</h5>
        <h2>Administrador comercial</h2>
        <div class="card roundedCard">
            <div class=" card-body">
                <form role="form">
                    <div class="input-container">
                        <span class="p-float-label">
                            <input pInputText id="username" class="input roundedInput" />
                            <label class="label-input" htmlFor="username">Usuario</label>
                        </span>
                    </div>
                    <span class="p-float-label">
                        <input pInputText id="password" class="input roundedInput" />
                        <label class="label-input" htmlFor="password">Contraseña</label>
                    </span>
                </form>
            </div>
            <div class="text-center" style="margin-top: 32px;">
                <button type="button" (click)="onIngresarClick()" class="btn btn-color roundedButton"><small
                        class="label-btn">INGRESAR</small></button>
                <a type="button" class=" d-block  textColor"><small><u>No recuerdo mi contraseña</u></small></a>
            </div>
        </div>
    </div>
</div>